.form-components{
    &.isActive{
        border: 1px solid #dddddd;
    }
}
.form-input{
    .title{
        font-weight: bold;
        padding: 10px 0 5px;
    }
    .subtitle{
        padding-bottom: 15px;
        font-size: 14px;
    }
    .el-input__suffix-inner{
        position: absolute;
        margin-left: calc(100% - 25px);
        width: 25px;
    }
    .required{
        color: #F56C6C;
        padding-left: 5px;
    }
    .require-text{
        color: #F56C6C;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }
    .el-radio-group, .el-checkbox-group{
        width: 100%;
        .el-radio, .el-checkbox{
            display: block;
            min-height: 34px;
            line-height: 34px;
            margin-bottom: 10px;
            .el-input{
                width: 200px;
            }
        }
    }
    .editor-show{
        border: 1px solid #eeeeee;
        text-align: center;
        font-size: 18px;
        color: #cccccc;
        padding: 20px;
        cursor: pointer;
    }
    .editor-preview{
        text-align: left;
    }

}
.divide-line{
    width: 100%;
    margin: 5px 0;
}