.form-input{
    .title{
        font-weight: bold;
        padding: 10px 0 5px;
    }
    .subtitle{
        padding-bottom: 15px;
        font-size: 14px;
    }
    .el-input__suffix-inner{
        position: absolute;
        margin-left: calc(100% - 25px);
        width: 25px;
    }
    .required{
        color: #F56C6C;
        padding-left: 5px;
    }

}
.divide-line{
    width: 100%;
    margin: 5px 0;
}