alabaster==0.7.12
alembic==1.3.2
aliyun-python-sdk-core==2.13.13
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.9.0
apispec==1.3.3
argh==0.26.2
attrs==19.3.0
Babel==2.7.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
crcmod==1.7
defusedxml==0.6.0
-e git+https://github.com/iuantu/dictalchemy.git@fa12c1cae17d35f57c20d68df81f3a694677050d#egg=dictalchemy
doc8==0.8.0
docutils==0.15.2
Flask==1.1.1
Flask-AppBuilder==2.2.1
Flask-Babel==0.12.2
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
imagesize==1.2.0
importlib-metadata==1.3.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.2.0
livereload==2.6.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.21.0
more-itertools==8.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.18
nose==1.3.7
oss2==2.9.1
packaging==19.2
pathtools==0.1.2
pbr==5.4.4
port-for==0.3.1
prison==0.1.2
protobuf==3.11.2
pycryptodome==3.9.4
Pygments==2.5.2
PyJWT==1.7.1
pyparsing==2.4.6
pyrsistent==0.15.6
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.2
requests==2.22.0
restructuredtext-lint==1.3.0
six==1.13.0
snowballstemmer==2.0.0
Sphinx==2.3.1
sphinx-autobuild==0.7.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.12
SQLAlchemy-Utils==0.36.0
stevedore==1.31.0
tornado==6.0.3
ua-parser==0.8.0
urllib3==1.25.8
user-agents==2.0
watchdog==0.9.0
Werkzeug==0.16.0
WTForms==2.2.1
zipp==0.6.0
