.form-list{
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
    .list-content{
        width: calc(100% - 530px);
        min-width: 600px;
        margin: 0 auto;
    }
    .add-new{
        text-align: left;
        padding: 25px 0;
    }
    .el-table{
        margin-top: 5px;
    }
}