*{
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    width: 100vw;
    height: 100vh;
    .openForm-side{
        // background: rgba(0,0,0,.5);
        box-sizing: border-box;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }
    .main-container{
        width: 100%;
        height: calc(100vh - 60px);
    }
    .color-red{
        color: #F56C6C;
    }
}