
{% extends "openform/layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="of-form of-form-success" method="post" class="">
                <img src="/static/form_success.png" width="25%" class="d-flex justify-content-center" style="margin: 60px auto 0px auto" />
                <div style="margin-bottom: 60px; margin-top: 20px; text-align: center;">提交成功，谢谢。</div>
                <!-- <div class="clearfix">
                    <a class="btn btn-primary float-right link-create-form">创建表单</a>
                </div> -->
            </form>
            
        </div>
    </div>
</div>
{% endblock %}