.form-components{
    width: 99%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    .form-detail-content{
        margin-bottom: 10px;
        .form-title{
            font-size: 18px;
            font-weight: bold;
            line-height: 2;
            .form-require{
                color: #F56C6C;
            }
        }
        .form-subtitle{
            padding-bottom: 5px;
        }
        .select-opts{
            text-align: left;
            margin-top: 15px;
        }
    }
}