
.open-form {
    width: 100vw;
    height: calc(100vh - 48px);
    .el-container{
      height: 100%;
      width: 100%;
      .show-left-aside{
        width: 30px;
        height: 30px;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #7d7c7c;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        top: 60px;
      }
      .el-main{
        width: 100%;
        text-align: center;
        padding: 0;
      }
    }
  }