
.open-form-setting {
    height: 100%;
    margin: 0 auto;
    .el-container{
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      .el-main{
        &.inner-content{
          padding: 20px;
        }

      }

    }
    .list-group{
      padding: 15px;
      box-sizing: border-box;
      min-height: 60px;
      border: 1px dashed #dddddd;
      text-align: left;
    }
    .list-group-item{
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      .components-setting-btn{
        
      }
    }
    .ghost{
      background: #f7f8f9;
    }
  }