
.open-form-setting {
    height: 100%;
    margin: 0 auto;
    .el-container{
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      .el-main{
        &.inner-content{
          padding: 22px;
          .add-new{
            text-align: right;
          }
          .roll-contant{
            height: calc(100% - 42px);
            margin-top: 10px;
            overflow: hidden;
            overflow-y: auto;
          }
          .inner-title{
            color: #666666;
            .form-title{
              font-size: 20px;
              padding: 15px 0 5px;
            }
            .form-sub-title{
              padding-bottom: 10px;
              border-bottom: 1px solid #eeeeee;
            }
          }
        }

      }

    }
    .list-group{
      margin-top: 15px;
      padding: 15px;
      box-sizing: border-box;
      min-height: 60px;
      border: 1px dashed #dddddd;
      text-align: left;
      position: relative;
      .no-list{
        text-align: center;
        font-size: 22px;
        color: #999999;
        position: absolute;
        z-index: 0;
        width: 100%;
        padding-top: 12px;
      }
    }
    .list-group-item{
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      display: -webkit-flex;
      flex-wrap: nowrap;
      .components-setting-btn{
        width: 80px;
        margin-left: 15px;
        .delete-btn{
          margin-top: 10px;
        }
      }
    }
    .ghost{
      background: #f7f8f9;
    }
  }